{% extends 'polls/base.html' %}

{% block content %}
    <h1> About </h1>
    <p class="text-justify">
    	I am a high school student who is interested in computer science, especially artificial intelligence & machine learning. I built this website to explore both
    	the boundaries of ethical consideration and in response to those who the hard determinism of something like MIT's Moral Machine influenced their answers. I want to give those people an opportunity to examine how chance can play a role in their decisions and I want people to feel something based on the outcomes of their decisions.
    	<br><br>
    	I hope this website can provide not answers, but instead help provide the questions we should be asking when looking at machine ethics.
    </p>
    <br>
{% endblock %}