<!DOCTYPE html>
<html lang="en">
 
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Shifting Morals</title>
 
 	  {% load static %}

    <link href="https://v4-alpha.getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">  
    <!--<link href="https://v4-alpha.getbootstrap.com/examples/narrow-jumbotron/narrow-jumbotron.css" rel="stylesheet">--> 
    <link href="{% static 'polls/narrow-jumbotron.css' %}" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />
    <link rel="icon" href="{% static 'polls/images/favicon3.ico' %}">
 
</head>
 
<body>
    <!-- TODO: Add collapsing navbar for mobile -->    
    <div class="container">
      <div class="header clearfix">
        <nav class="navbar-toggleable-md">

          <!--<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navMenu" aria-controls="" 
          aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button> -->
          
          <div class="" id="navMenu">
            <ul class="nav nav-pills float-right"> <!-- add class navbar-nav -->
              <li class="nav-item">
                <a class="nav-link" href="{% url 'polls:index' %}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'polls:decision' %}">Scenarios</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'polls:stats' %}">Stats</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'polls:about' %}">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'polls:contact' %}">Contact</a>
              </li>
            </ul>
          </div>
        </nav>

        <h3>Shifting Morals <i class="fas fa-balance-scale"></i></h3>
      </div>

      {% block content %}
      {% endblock %}
      
      <footer class="footer text-center">
        <p>&copy; Niall Dalton 2018 &middot; This website uses cookies.</p>
      </footer>
      
    </div> <!-- /container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!--<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script> -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"</script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery.min.js"><\/script>')</script>
    <script src="https://v4-alpha.getbootstrap.com/dist/js/bootstrap.min.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
  </body>
</html>