{% extends 'polls/base.html' %}

{% block content %}
    <h1 class="text-center p-4"> Contact </h1>
    <br>

    <div class="bd-example text-center">
	  <address>
	    <strong>Niall Dalton</strong><br />
	    Student at Mass Academy<br />
	    Class of 2018<br />
	  </address>

	  <address>
	    <strong>Email</strong><br />
	    <a href="mailto:njdalton2@wpi.edu">njdalton2@wpi.edu</a>
	  </address>

	  <address>
	    <strong>Website</strong><br />
	    <a href="http://users.wpi.edu/~njdalton2/">http://users.wpi.edu/~njdalton2/</a>
	  </address>
	</div>

{% endblock %}