{% extends 'polls/base.html' %}

{% block content %}
	<div class="content-container container">
	    <h1 class="text-center p-4"> Contact </h1>

	    <p class="text-justify">
	    	Feel free to contact me through any of the methods below and take a look at my website if you're
	    	curious to learn more about me. My website has some of the other projects I've done, some of which
	    	also involve machine learning and AI.
	    </p>

	    <br>

	    <div class="bd-example">
		  <address>
		    <strong>Niall Dalton</strong><br />
		    Student at Mass Academy<br />
		    Class of 2018<br />
		  </address>

		  <address>
		    <strong>Email</strong><br />
		    <a href="mailto:njdalton2@wpi.edu">njdalton2@wpi.edu</a>
		    <br>
		    <a href="mailto:njdalton2@wpi.edu">niall.dalton12@gmail.com</a>
		  </address>

		  <address>
		    <strong>Website</strong><br />
		    <a href="http://users.wpi.edu/~njdalton2/">http://users.wpi.edu/~njdalton2/</a>
		  </address>
		</div>
	</div>
{% endblock %}