{% extends 'polls/base.html' %}

{% load static %}

{% block content %}

	<nav aria-label="breadcrumb">
	  <ol class="breadcrumb">
	    <li class="breadcrumb-item"><a href="{% url 'polls:index' %}">Home</a></li>
	    <li class="breadcrumb-item"><a href="{% url 'polls:decision' %}">Scenarios</a></li>
	    <li class="breadcrumb-item active" aria-current="page">{{ decision_group.scenario_title }}</li>
	  </ol>
	</nav>

	<h1 class="text-center p-3">{{ decision_group.scenario_title }}</h1>

	<p class="text-center lead">
		{{ decision_group.scenario_description }}
	</p>

	<p class="text-center">
		Make your decision below. Each choice has different outcomes and possibilities. Be sure to take into the chance of death
		for each person when making your decisions.
	</p>

	<br>

	<div class="text-center">
	<div class="col-5-sm" style="color:#0A5C0F;">
		<strong style="color:#0A5C0F;">Legend</strong><br>
		<img src="{% static 'polls/images/man_small.png' %}" alt="man" height="60"> <br>
		Gender <br>
		Age <br>
		Chance of death <br>
		Social status
	</div></div>

	<br>

	{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

	<form action="{% url 'polls:vote' decision_group.id %}" method="post">
	{% csrf_token %}
	{% for decision in decision_group.decision_set.all %}
		    <hr>
	    <input type="radio" name="decision" id="decision{{ forloop.counter }}" value="{{ decision.id }}" />
	    <label for="decision{{ forloop.counter }}" class="lead">{{ forloop.counter }}. {{ decision.description }}</label>
	    <p class="text-left">
		    <div class="container">
			  <div class="row">

			  <strong style="color:#006666;">Who could die:</strong>
			    <div class="col-5-sm">
			      	<div class="row">
			      		
			      		
					    {% for person in decision.person_set.all %}
					    		<div class="col-sm" style="color:#006666;"> 
							    	{% if person.gender == 'M' %}
								    	<img src="{% static 'polls/images/man_small.png' %}" alt="man" height="60">
							    	{% elif person.gender == 'F' %} 
								    	<img src="{% static 'polls/images/woman_small.png' %}" alt="man" height="60">
							    	{% endif %}
							    	<br>
								    {{ person.get_gender_display }}
								    <br>
								    {{ person.get_age_display }}
								    <br>
								    {{ person.get_probability_display }}
								    <br>
								    {{ person.get_status_display }}
						    	</div>
					    {% endfor %}
				    </div>
			    </div>
			  </div>
			</div>		    
	    <p>
	    <br />

	{% endfor %}
	<br>
	<div class="text-center"><input type="submit" value="Decide" class="btn btn-success"/></div>
	</form>
	<br/>

{% endblock %}