{% extends 'polls/base.html' %}
{% load staticfiles %}
{% block content %}

	<nav aria-label="breadcrumb">
	  <ol class="breadcrumb">
	    <li class="breadcrumb-item"><a href="{% url 'polls:index' %}">Home</a></li>
	    <li class="breadcrumb-item"><a href="{% url 'polls:decision' %}">Scenarios</a></li>
	    <li class="breadcrumb-item active" aria-current="page">Stats</li>
	  </ol>
	</nav>

	<div class="content-container container">
		<h1 class="text-center p-4"> Stats </h1>

		{% if request.session.num_decisions %}
			<p> 
				Your total kill count is {{ request.session.kill_count }}. <br>
				You've killed {{ request.session.male_kc }} male(s) versus  {{ request.session.female_kc }} female(s). <br>
				You kill {{ request.session.most_killed_age }}s the most often. <br>
				{{ request.session.social_preference }} <br>
			</p>

			<h4 class="text-center p-4"> Kills per Decision </h4>

		{% else %}
			<p> 
				No stats recorded yet! Make your first decision.
			</p>
		{% endif %}

		<!-- {{ request.session.test }} <br> {{ request.session.test2 }} <br> -->
		{{ request.session.decisions_range }} <br> {{ request.session.kill_list }} <br>


		<canvas id="myChart" width="500" height="400"></canvas>

        <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.0.min.js"></script>
        <!-- <script type="text/javascript" src="{% static 'polls/js/Chart.min.js' %}"></script> -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
        <!-- <script type="text/javascript">
            $.get('{% url "polls:line_chart_json" %}', function(data) {
                var ctx = $("#myChart").get(0).getContext("2d");
                new Chart(ctx, {
                    type: 'line', data: data
                });
            });
        </script> -->


        <script type="text/javascript">
        $.get('{% url "polls:line_chart_json" %}', function(data) {
        new Chart(document.getElementById("myChart"), {
  type: 'line',
  data: {
    labels: [1500,1600,1700,1750,1800,1850,1900,1950,1999,2050],
    datasets: [{ 
        data: [86,114,106,106,107,111,133,221,783,2478],
        label: "Africa",
        borderColor: "#3e95cd",
        fill: false
      }, { 
        data: [282,350,411,502,635,809,947,1402,3700,5267],
        label: "Asia",
        borderColor: "#8e5ea2",
        fill: false
      }, { 
        data: [168,170,178,190,203,276,408,547,675,734],
        label: "Europe",
        borderColor: "#3cba9f",
        fill: false
      }, { 
        data: [40,20,10,16,24,38,74,167,508,784],
        label: "Latin America",
        borderColor: "#e8c3b9",
        fill: false
      }, { 
        data: [6,3,2,2,7,26,82,172,312,433],
        label: "North America",
        borderColor: "#c45850",
        fill: false
      }
    ]
  },
  options: {
    title: {
      display: true,
      text: 'World population per region (in millions)'
    }
  }
});
        });
        </script>

        <!-- <canvas id="line-chart" width="800" height="450"></canvas>
        <script type="text/javascript">
        new Chart(document.getElementById("line-chart"), {
  type: 'line',
  data: {
    labels: [1500,1600,1700,1750,1800,1850,1900,1950,1999,2050],
    datasets: [{ 
        data: [86,114,106,106,107,111,133,221,783,2478],
        label: "Africa",
        borderColor: "#3e95cd",
        fill: false
      }, { 
        data: [282,350,411,502,635,809,947,1402,3700,5267],
        label: "Asia",
        borderColor: "#8e5ea2",
        fill: false
      }, { 
        data: [168,170,178,190,203,276,408,547,675,734],
        label: "Europe",
        borderColor: "#3cba9f",
        fill: false
      }, { 
        data: [40,20,10,16,24,38,74,167,508,784],
        label: "Latin America",
        borderColor: "#e8c3b9",
        fill: false
      }, { 
        data: [6,3,2,2,7,26,82,172,312,433],
        label: "North America",
        borderColor: "#c45850",
        fill: false
      }
    ]
  },
  options: {
    title: {
      display: true,
      text: 'World population per region (in millions)'
    }
  }
});
	</script> -->


		<div class="text-center"><a href="{% url 'polls:decision' %}">Back to scenarios</a></div>
		<br>
	</div>
{% endblock %}